*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    display: flex;
    gap: 40px;
   
}

.content div{
    width: 300px;
    height: 200px;
    background: rgb(205, 195, 249);
     padding: 20px;
     border-radius: 14px;
     box-shadow: 4px 4px 6px rgb(0,0,0,0.01);
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container h1{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "roboto", sans-serif;

}

div h2{
    color: #2261f4;
    font-size: 1.5rem;
    margin: 0 0 10px;
    font-family: "roboto";
}
div p{
    font-size: 16px;
    font-family: sans-serif;
    margin: 0 0 10px;
    color: #222;
}

button{
    padding: 6px 18px;
    background: #2261f4;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
}